<div class="container-fluid">

  <div class="row align-items-start">
    <ul style="list-style-type: none">
      <li *ngFor="let uFile of (uploadFiles$ | async)">
        <h3>{{uFile.fileName}}</h3>
      </li>
    </ul>
  </div>

  <div class="row align-items-center">
    <div *ngFor="let selected of toUpload;let index = index">
      <h3>{{selected.name}}</h3>
      <button mat-button (click)="removeSelectedFile(index)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="row align-items-end">
    <!-- Progress Bar -->
    <div class="progress" *ngIf="progress > 0">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
        Uploading
      </div>
    </div>

    <!-- Attach -->
    <button mat-raised-button (click)="fileInput.click()">
      <mat-icon>attach_file</mat-icon>
      Attach files
    </button>

    <!-- Upload -->
    <button mat-raised-button (click)="uploadFiles()" *ngIf="toUpload.length != 0">
      <mat-icon>upload</mat-icon>
      Upload files
    </button>

    <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput multiple="true">
  </div>
</div>




